$margin-left: 10vw;
$margin-right: 10vw;

.DefaultAnchor {
    color: inherit;
    text-decoration: inherit;
}

.DefaultAnchor:focus, .DefaultAnchor:hover, .DefaultAnchor:visited, .DefaultAnchor:link, .DefaultAnchor:active {
    color: inherit;
    text-decoration: inherit;
}