@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.HourlyWeatherInfoMain {
    height: 100vh;
    background-color: $backgroundColor;
}

.HourlyWeatherInfoMain .HourlyWeatherInfoToolbar {
    padding-left: $margin-left;
    padding-right: $margin-right;

    justify-content: space-between;
}

.HourlyWeatherInfoChart {
    margin-left: $margin-left;
    margin-right: $margin-right;
    justify-items: center;
}