@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.HourlyWeatherInfoMain {
    height: 100vh;
    background-color: $backgroundColor;
}

.HourlyWeatherInfoMain .HourlyWeatherInfoChart {
    margin-left: $margin-left;
    margin-right: $margin-right;
    justify-items: center;
}