@import "../../styles/colors.scss";
@import "../../styles/styles.scss";

.HourlyWeatherInfoMain {
    height: 100vh;
    background-color: $backgroundColor;
}

.HourlyWeatherInfoMain .HourlyWeatherInfoChart {
    margin-left: $margin-left;
    margin-right: $margin-right;
    justify-items: center;
    margin-top: 2.5vh;
    padding-bottom: 1vh;
    
    background-color: white;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
}

.HourlyWeatherInfoMain .HourlyWeatherInfoChartHeader {   
    background-color: #3f51b5;
    color: white;
    
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    font-size: large;
    
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
}